body {
    min-width: 600px;
    max-width: 800px;
    margin: auto;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(red-leaves-with-small-raindrops.jpeg);
}
.main {
    background-color: rgba(255, 255, 255, 0.50);
    color: black;
    padding: 10px;
    margin: 50px auto 0;
    border: 4px solid white;
    border-radius: 9px;
    /*min-height: 600px;*/
    /*max-height: 800px;*/
    font-family: 'Didot', sans-serif;
}

h1 {
    text-align: center;
}

h3, #suggestions-h3 {
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
}

form {
    margin-top: 30px;
}

label {
    font-size: 1.1em;
}

textarea {
    display: block;
    margin: auto;
    border-radius: 8px;
    border: 2px solid rgba(245, 39, 39, 0.93);
}

button {
    display: block;
    width: 90%;
    margin: 5% auto;
    min-height: 35px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid rgba(245, 39, 39, 0.93);
}

button:hover {
    background-color: rgba(245, 39, 39, 0.80);
    border: none;
}

.survey-form_credentials {
    display: block;
    margin: 10px;

}

.survey-form_credentials > label {
    display: inline-block;
    width: 25%;
    text-align: end;
}

.survey-form_credentials > input {
    display: inline-block;
    width: 60%;
    margin-left: 5px;
    line-height: 20px;

}

.survey-form_dropdown {
    display: block;
    margin: 30px auto;
}

.survey-form_dropdown > label {
    display: inline-block;
    width: 50%;
    text-align: end;
}

.survey-form_dropdown > select {
    display: inline-block;
    width: 34.5%;
    height: 20px;
    margin-left: 10px;
}

.radio-block_listing {
    display: flex;
    justify-content: space-around;
}

#description {
    display: block;
    text-align: center;
}

#checkbox-listing {
    display: flex;
    justify-content: space-evenly;
}

.radio-line {
    /*border: 1px solid red;*/
}
